apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  labels:
    app: pihole
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
        - name: pihole
          image: pihole/pihole:2025.11.1
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
            - name: dns-tcp
              containerPort: 53
              protocol: TCP
            - name: dns-udp
              containerPort: 53
              protocol: UDP
          env:
            - name: TZ
              value: Europe/Amsterdam
            - name: WEBPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pihole-password
                  key: WEBPASSWORD
          volumeMounts:
            - name: pihole-data
              mountPath: /etc/pihole
              subPath: pihole
            - name: pihole-data
              mountPath: /etc/dnsmasq.d
              subPath: dnsmasq
          livenessProbe:
            tcpSocket:
              port: 53
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            tcpSocket:
              port: 53
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: pihole-data
          persistentVolumeClaim:
            claimName: pihole-data
